.jumbotron {
	margin-bottom: 4em;
	background-color: #000;
}

.gridborder {
	border: 1px solid black

}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.person-wrapper {
	margin-botton: 2em;
}
.profile-pic {
	width:50%;
	float: center;
 }
 .profile-logo {
	width:73%;
	float: center;
 }
 .swain-profile-pic {
	width:75%;
	float: center;
 }
 .spike-profile-pic {
	width:70%;
	float: center;
 }
.btn-primary {
	background-image: none;
	border: none;
	border-radius: none;
	background-color: #2892D7;
}
h3 {
	margin-bottom: 1em;
}
h2   {
	color: #fff;
}
h5   {
	color: #fff;
}